# selenium files
chromedriver.exe
geckodriver.exe
geckodriver.log
geckodriver

# python cache
__pycache__

# paralel crawler temporary folder
tmp

# for local testing
test.csv
test.json

data.sqlite
.env
.google-cookie

data/icons